body {
	font-family: tahoma, sans-serif;
	line-height: 1.7;
	color: #333333;
}

.main-header {
	text-align: center;
	font-size: 24px;
	margin-top: 110px;
	margin-bottom: 50px;

}
.main-header span {
	display: block;
}
.main-header strong {
	font-weight: 900;
	text-transform: uppercase;
}
.main {
	padding: 30px 10%;
	margin-left: 80px;

}
.video, .form{
	display: inline-block;
	vertical-align: top;
}

.form {
	margin-left: 35px;
	padding: 20px;
	border: 5px solid #3c3cdd;
}
.form input {
	margin-bottom: 10px;
	display: block;
	height: 50px;
	width: 295px;
	padding: 17px;
	color: #999;
	border:1px solid #333;
	font-size: 18px;
	font-weight: 500;

}
.form p{
	margin-bottom: 20px;
	font-weight: 900;
	font-size: 20px;
	text-align: center;

}
.btn {
	width: 295px;
	padding: 25px 50px;
	background-color: #3c3cdd;
	color:#fff;
	font-size: 18px;
	border: none;
}
.btn2 {
	width: 295px;
	padding: 25px 50px;
	background-color: #3c3cdd;
	color:#fff;
	font-size: 18px;
	border: none;
	text-align: center;
}
.header2 {
	text-align: center;
	font-weight: 900;
	font-size: 24px;
	text-transform: uppercase;

}
.col {
	text-align: center;
	display: inline-block;
	margin: 10px 60px;
}
.col img {
	width: 50px;

}
.col p {
	font-size: 16px;
	font-weight: 900;
}
.feation {
margin-top: 60px;
text-align: center;
}

.section {
	text-align: center;
}

.btn2 {
	margin-top: 90px;
}
.clientlogo {
	text-transform: uppercase;
	font-size: 24px;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 75px;
}
.client img {
	height: 213px;
	width: 215px;
	margin-left: 10px;
}
.section2 {
	display: inline-block;
	text-align: center;
	width: 1100px;
}
.client {
	margin-bottom: 100px;	
}