* {
	box-sizing: border-box;

}



.box {
	border: 2px solid grey;
	height: 400px;
	width: 300px;
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -150px;
	margin-top: -200px;



}
.text {
	padding: 20px 30px;
}
